/* basic styles */
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none !important;
}

/* preloader */
.wowa-custom-preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('preloader/squares_preloader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

/* back to top button */
.back-to-top-button {
    opacity: 0;
}

.back-to-top {
    color: #fff ;
    background-color: #000;
    border-radius: 0px;
    border: 1px none;
    width: 45px;
    height:45px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding-top: 10px;
    z-index: 2;
    text-align: center;
    opacity: 0;
}

.back-to-top-secondary {
    width: 45px;
    height:45px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #7ea2c7;
    z-index: 1;
    opacity: 0;
}

.back-to-top:hover {
    color: #7ea2c7;
    transform: scale(1.02);
}

.active {
    opacity: 1;
    pointer-events: auto;
}

/* header */
.custom-navbar {
    background-color: #000;
}

.custom-navbar-brand {
    height: 40px;
    width: 140px;
    margin-right: 25px;
}

.custom-navbar-links {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.navbar-phone-number {
    color: lightgray !important;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar-phone-number:hover {
    color: lightgray;
    margin-right: 15px;
    transition: 0.5s ease;
}

.custom-navbar-links a{
    color: #fff;
    font-size: 16px;
}

.custom-navbar-links a:hover {
    color: #7ea2c7;
}

.custom-navbar-toggler {
    color: #fff;
    margin-top: 10px;
}

@media screen and (max-width: 830px) {
    .navbar-phone-number {
        display: none !important;
    }
}

/* slider intro */
.custom-intro-slider {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    background-image: url('slider/image1.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wowa-custom-intros-lider-banner {
    width:400px;
    min-height:175px;
    height: auto;
    position: absolute;
    top: calc(50% - 100px);
    left: 0;
    padding: 15px;
    background-color: #fff;
}

@media screen and (max-width: 420px) {
    .wowa-custom-intros-lider-banner {
        width: 250px;
        min-height: 230px;
        height: auto;
    }
}

.slide-down {
    padding: 5px;
    color: #fff ;
    background-color: #000;
    border-radius: 0px;
    border: none;
    width: 200px;
    height:45px;
    position: absolute;
    padding-top: 5px;
    bottom: 15px;
    right: calc(50% - 100px);
    z-index: 2;
    text-align: center;
    text-decoration: none;
    overflow-y: hidden;
}

.slide-down:hover {
    color: #7ea2c7;
    transform: scale(1.02);
}

.custom-arrow-down {
    transform: translateY(-5px);
    animation: slide-down-animation 2s infinite linear;
}

.slide-down-secondary {
    width: 200px;
    height:45px;
    position: absolute;
    bottom: 10px;
    right: calc(50% - 105px);
    background-color: #7ea2c7;
    z-index: 1;
}

@keyframes slide-down-animation {
    0% {
        padding-top: -20px;
    }

    25% {
        padding-top: 0px;
    }

    50% {
        padding-top: 20px;
    }

    75% {
        padding-top: 0px;
    }

    100% {
        padding-top: -20px;
    }
}


/* Footer */
.wowa-footer-black {
    padding: 15px;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    min-height:150px;
    height: auto;
    text-align: center;
}

.wowa-footer-black h5 {
    text-align: center;
}

.wowa-footer-logo-column {
    text-align: center;
    margin-bottom: 15px;
}

.wowa-footer-logo {
    height: 35px;
    width: 140px;
}

.wowa-team-copy-rights-mj {
    padding-top: 25px;
    text-align: center;
    color: lightgray;
}

.wowa-footer-column-links a {
    display: block;
    padding-bottom: 5px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.wowa-footer-column-links a:hover {
    color: #7ea2c7;
    transform: translateX(-5px);
}

.wowa-footer-column-contact a {
    display: block;
    padding-bottom: 5px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.wowa-footer-column-contact a:hover {
    color: #7ea2c7;
    transform: translateX(-5px);
}

.wowa-footer-column-description {
    text-align: justify;
}

/* wowa-team-about-us */
#wowa-team-about-us {
    padding-bottom: 45px;
}

.wowa-team-custom-logo-banner {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.wowa-team-custom-logo-banner img {
    width: 50%;
}

.wowa-team-about-us-adds-header {
    text-align: center;
    margin-bottom: 25px;
}

@media screen and (max-width: 1400px) and (min-width: 575px) {
    .wowa-usp-bar-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .wowa-usp-bar-item-column {
        display: block;
        width: 400px !important;
    }
}

.wowa-team-usp-bar-item {
    display: flex;
    padding: 5px;
    height: 85px;
    text-align: left;
    margin-bottom: 15px;
}

.wowa-team-usp-bar-item p {
    margin-left: 10px;
}

.wowa-team-usp-bar-item img {
    width: 75px;
    height: 75px;
}

.wowa-about-brand-info div {
    height: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

wowa-team-usp-bar-item

.wowa-about-brand-info p {
    text-align: justify;
}

/* section interval image */
.wowa-custom-image-section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:500px;
    width: 100vw;
}

@media screen and (max-width: 800px) {
    .wowa-custom-image-section {
        background-attachment: unset !important;
    }
}

.first-image-section {
    background-image: url('slider/image3.JPG');
}

.second-image-section {
    background-image: url('slider/image2.JPG');
}

.third-image-section {
    background-image: url('slider/image4.JPG');
}

/* section services */
#wowa-team-services {
    padding-top: 45px;
    padding-bottom: 20px;
}

.wowa-team-services-header {
    text-align: center;
    padding-bottom: 25px;
}

.wowa-custom-service-card {
    min-height: 475px;
    height: auto;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: 15px 15px 15px lightgray;
}

.wowa-custom-service-card img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}

.wowa-service-counter-header {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 25px;
}

.wowa-services-counter-card {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.wowa-services-counter-card img {
    width: 50px;
    height: 50px;
    margin-top:10px;
}

.wowa-service-counter-text {
    padding-left: 15px;
}

.wowa-team-full-range-of-services {
    text-align: center;
    padding-top: 15px;
}

.wowa-team-full-range-of-service-items div {
    width: auto;
    display: inline-block;
    padding: 5px;
}

.wowa-team-full-range-of-service-items div:hover {
    color: #7ea2c7;
}

/* section projects */
.wowa-team-projects-header {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
}

.wowa-team-custom-gallery-category-tree {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 775px) {
    .wowa-team-custom-gallery-category-tree {
        flex-direction: column;
        align-items: center;
    }

    .wowa-team-gallery-select {
        margin-top: 15px;
    }
}

@media screen and (max-width: 400px) {
    .wowa-team-custom-gallery-slider > ul > li {
        width: 225px !important;
        height: 150px !important;
    }
}

.wowa-team-gallery-select {
    display: inline-block;
    background-color: #000;
    color: #fff;
    height: 45px;
    padding-top: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.wowa-team-gallery-select.activeGalletySelect {
    font-weight: bold;
    color: lightgray;
}

.wowa-team-gallery-select.activeGalletySelect:hover {
    color:lightgray;
    cursor: text;
}

.wowa-team-gallery-select:hover {
    color: #7ea2c7;
}

.wowa-team-gallery-select span {
    height: 45px;
    width: 200px;
    background-color: #7ea2c7;
    display: block;
    top: -27px;
    left: 5px;
    position: relative;
    z-index: -1;
}

.wowa-team-custom-gallery-slider {
    width: 100%;
    min-height:500px;
    display: none;
}

.wowa-team-custom-gallery-slider.activeGallery {
    display: block;
}

.wowa-team-custom-gallery-slider > ul {
    list-style: none;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
}

.wowa-team-custom-gallery-slider > ul > li {
    display: inline-block;
    width: 350px;
    height: 200px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.wowa-team-custom-gallery-slider > ul > li > a > img {
    width: 100%;
    height: 100%;
    background-position: center;
    transition: 0.3s ease-in-out;
}

.wowa-team-custom-gallery-slider > ul > li > a > img:hover {
    transform: scale(1.02);
}

.gallery-page-button {
    width: 150px;
    height: 45px;
    background-color: #000;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    margin-left: calc(50% - 75px);
    cursor: pointer;
}

.gallery-page-button-second {
    width: 150px;
    height: 45px;
    background-color: #7ea2c7;
    margin-left: calc(50% - 70px);
    margin-top: -40px;
    position: relative;
    z-index: -1;
    margin-bottom: 25px;
}

/* section contact */
.wowa-team-contant-header {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
}

.wowa-team-contant-header p{
    margin-bottom: 15px;
}

.wowa-team-contact-form {
    width: 100%;
    text-align: center;
}

.wowa-team-contant-button {
    height:45px !important;
    width: 200px !important;
    border: none;
    background-color: #000;
    color: #fff;
    display: block;
    border-radius: 0px !important;
    margin-left: calc(50% - 100px);
}

.wowa-team-contant-button:hover {
    color: #7ea2c7;
    transform: scale(1.02);
}

.wowa-team-contant-button-secondary {
    height: 45px;
    width: 200px;
    background-color: #7ea2c7;
    z-index: -1;
    position: relative;
    top: -55px;
    left: calc(50% - 95px);
}

.wowa-team-custom-contact-form input {
    width: 230px;
    height: 35px;
    border: 0px;
    border-radius: 0px !important;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding: 5px;
}

.wowa-team-custom-contact-form textarea {
    min-width: 230px;
    resize: none;
    min-height: 100px;
    height: auto;
    border: 0px;
    border-radius: 0px !important;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding: 5px;
}

@media screen and (min-width: 490px) {
    .wowa-team-custom-contact-form textarea {
        width: 460px;
    }
}

.wowa-team-contact-item {
    width: 220px;
    display: inline-block;
    height: 45px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    color: #000;
}

.wowa-team-contact-item  {
    display: inline-block;
    margin-bottom: 15px;
}

.wowa-team-contact-item i {
    background-color: #000;
    color: #fff;
    display: inline-block;
    height: 45px;
    width: 45px;
    position: relative;
    top: 0px;
    padding: 15px;
    margin-right: 10px;
}

.wowa-team-contact-item:hover i{
    color: #7ea2c7;
    transform: scale(1.02);
}

.wowa-team-contact-item-secondary {
    height: 45px;
    width: 45px;
    background-color: #7ea2c7;
    z-index: -1;
    position: relative;
    top: -40px;
    left: 5px;
}